:root{
    --background-container: #ffffff0d;
    --subtitle: #94a3b8;
    --description: #64748b;
    --white: #ffffff;
    --primary-blue: #3b82f6;
    --transparent: transparent;
    --signup-btn: #3b82f6;
    --signup-btn-hover: #3b82f61a;
    --login-container: #000000c7;
    --white-opacity-10: #ffffff1a;
    --white-opacity-30: #ffffff4d;
    --gray-blue: #94a3b8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}